<div class="hidden md:block fixed bg-secondary w-80 h-screen top-0 left-0 z-20">
    <div class="pt-8 pb-6 px-8">
        <img src="../../../assets/img/foxbel-music.png" alt="logo" class="w-60">
    </div>
    <div>
        <div class="mb-6">
            <h2 class="pl-8 font-22-bold text-white">Mi Librería</h2>
            <span *ngFor="let lib of librerias" class="pl-8 block font-16-regular text-white">{{ lib.name }}</span>
        </div>
        <div>
            <h2 class="pl-8 font-22-bold text-white">Playlist</h2>
            <span *ngFor="let play of playlists" class="pl-8 block font-16-regular text-white">{{ play.name }}</span>
        </div>
    </div>
</div>